<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.ulric.avispro">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".actividades.LoginActivity"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".actividades.ListActivity" />
    <activity android:name=".actividades.RegisterActivity" />
    <activity android:name=".actividades.ListSheetActivity" />
    <activity android:name=".actividades.SheetActivity" />
    <activity android:name=".actividades.SettingActivity" />
    <activity android:name=".actividades.TraitsActivity" />
    <activity android:name=".actividades.SkillsActivity" />
    <activity android:name=".actividades.ListSkillActivity" />
    <activity android:name=".actividades.SkillActivity" />
    <activity android:name=".actividades.EquipActivity" />
    <activity android:name=".actividades.CombatActivity" />
    <activity android:name=".actividades.ListCombatActivity" />
    <activity android:name=".actividades.NewCombatActivity" />
    <activity android:name=".actividades.LeadActivity" />
  </application>

</manifest>